

/* Map Functionality */
#map{
    height: 400px;
    width:750px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  }

  /* #content-container {
    position: relative;
    justify-content: center;
    align-self: center;
  } */
